* {
    margin: 0;
    padding: 0;
}

span {
    display: block;
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}
nav {
    text-align: center;
    padding: 1.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #eee;
}

nav a {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    background: #d4d4d4;
    color: black;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#grey {
    background: grey;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}

#green {
    background: green;
}